@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #b0a9f4;
}

#title {
  padding-left: 30%;
  font-family: poppins;
  font-weight: 400;
  font-size: xx-large;
  color: rgb(4, 1, 14);
}

.search {
  margin: 8% 25%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.search #search-box {
  outline-style: none;
  width: 40vw;
  height: 8vh;
  border: none;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
}
#search-btn {
  background: white;
  width: 6vw;
  height: 8vh;
  outline-style: none;
  font-family: poppins;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#search-btn:hover {
  background: rgb(202, 180, 224);
}
#userInfo {
  width: 60vh;
  height: inherit;
  margin-left: 25vw;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
p {
  font-family: monospace;
  font-size: larger;
  font-weight: 600;
}
h2 {
  font-family: poppins;
  color: rgb(4, 1, 14);
}

 

@media only screen and (max-width: 768px) {
  #title {
    padding-left: 10%;
    font-size: medium;
  }

  #search-box,
  #userInfo {
    width: 100%;
    margin: 5% 0;
  }
  #search-btn {
    width: 60%;
  }

  img {
    height: 120px;
    width: 120px;
  }

  p {
    font-size: small;
  }
}
